# Proyecto AMVA

In [1]:
#!pip install ipython-sql pgspecial
#!pip install sqlalchemy
#!pip install psycopg2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot  as plt
import seaborn            as sns

In [3]:
# Create connection to database

from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:postgres@157.230.55.87:5432/AMVA')

#engine = create_engine('postgresql://postgres@157.230.55.87.5432/AMVA')
#engine = create_engine('postgresql://postgres@157.230.55.87.5433/AMVA')

In [4]:
#consulta = 'select * from kml where idruta = 1;'
#df = pd.read_sql_query(consulta,con=engine)
#df.head()

In [5]:
#eventosdf = pd.read_sql_query(
#            """
#            SELECT COUNT(*)
#            FROM eventosmodelo
#            """,
#            con=engine)

In [ ]:
#eventosdf

In [7]:
## Query 1 dia
eventosdf18 = pd.read_sql_query(
              """
              SELECT *
              FROM eventosmodelo
              WHERE (fechacreacion > '2019-11-18' AND
                     fechacreacion < '2019-11-19')
              """,
              con=engine)

In [8]:
eventosdf18.shape

(0, 20)

In [9]:
eventosdf18.head(10)

Empty DataFrame
Columns: [secuenciarecorrido, idempresa, idpersona, idvehiculo, idruta, fechacreacion, recorridofinalizado, cantidadregistros, tipocarga, distanciarecorrido, recorridoincumplido, consecutivoregistro, fecharegistro, longitud, latitud, estadopuertas, velocidad, pasajerossuben, pasajerosbajan, margendesviacion]
Index: []