# Proyecto AMVA

In [ ]:
#!pip install ipython-sql pgspecial
#!pip install sqlalchemy
#!pip install psycopg2

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot  as plt
import seaborn            as sns

In [2]:
# Create connection to database

from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:postgres@157.230.55.87:5432/AMVA')

#engine = create_engine('postgresql://postgres@157.230.55.87.5432/AMVA')
#engine = create_engine('postgresql://postgres@157.230.55.87.5433/AMVA')

In [ ]:
consulta = 'select * from kml where idruta = 1;'
df = pd.read_sql_query(consulta,con=engine)
df.head()

In [4]:
eventosdf = pd.read_sql_query(
            """
            SELECT COUNT(*)
            FROM eventosmodelo
            """,
            con=engine)

In [5]:
eventosdf.shape

(1, 1)

In [6]:
eventosdf

      count
0  66389202